.profile {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 10px 5px 7px #8e945e;
  border: 2px solid #dde794;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 60px;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  background-color: #dde794;
}

.profile .avatar {
  margin: auto;
  max-width: 90%;
  border-radius: 50%;
  background-color: #eeeeee;
}
.profile .name,
.profile .tag,
.profile .location {
  margin: 8px auto 0;
  font-size: 24px;
}
.name {
  font-size: 32px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: -2px;
  border-top: 2px solid #dde794;
  padding: 14px 10px;
  list-style: none;
  background-color: #8e945e;
}

.stats li {
  width: calc(100% / 3);
  text-align: center;
  font-size: 24px;
}

.stats li:not(:last-child) {
  border-right: 1px solid #dde794;
}

.label,
.quantity {
  display: block;
}
