.friendList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 60px;
}
.item {
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #dde794;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 5px 7px #8e945e;
}

.status {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 5px 2px 3px #8e945e;
}

.avatar {
  height: 100px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 5px 3px 7px #8e945e;
}
